[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
python-dotenv = "*"
myanimelist-api = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
main = "python3 ./mal_api/__main__.py"
